/* Coolors Exported Palette - https://coolors.co/ede0d4-e6ccb2-ddb892-b08968-7f5539-9c6644 */

/* CSS HEX */
// --almond: #ede0d4ff;
// --dun: #e6ccb2ff;
// --tan: #ddb892ff;
// --chamoisee: #b08968ff;
// --coffee: #7f5539ff;
// --raw-umber: #9c6644ff;

/* CSS HSL */
// --almond: hsla(29, 41%, 88%, 1);
// --dun: hsla(30, 51%, 80%, 1);
// --tan: hsla(30, 52%, 72%, 1);
// --chamoisee: hsla(27, 31%, 55%, 1);
// --coffee: hsla(24, 38%, 36%, 1);
// --raw-umber: hsla(23, 39%, 44%, 1);

/* SCSS HEX */
$almond: #ede0d4ff;
$dun: #e6ccb2ff;
$tan: #ddb892ff;
$chamoisee: #b08968ff;
$coffee: #7f5539ff;
$raw-umber: #9c6644ff;

/* SCSS HSL */
$almond: hsla(29, 41%, 88%, 1);
$dun: hsla(30, 51%, 80%, 1);
$tan: hsla(30, 52%, 72%, 1);
$chamoisee: hsla(27, 31%, 55%, 1);
$coffee: hsla(24, 38%, 36%, 1);
$raw-umber: hsla(23, 39%, 44%, 1);

/* SCSS RGB */
$almond: rgba(237, 224, 212, 1);
$dun: rgba(230, 204, 178, 1);
$tan: rgba(221, 184, 146, 1);
$chamoisee: rgba(176, 137, 104, 1);
$coffee: rgba(127, 85, 57, 1);
$raw-umber: rgba(156, 102, 68, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-right: linear-gradient(90deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-bottom: linear-gradient(180deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-left: linear-gradient(270deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-top-right: linear-gradient(45deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-bottom-right: linear-gradient(135deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-top-left: linear-gradient(225deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-bottom-left: linear-gradient(315deg, #ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);
$gradient-radial: radial-gradient(#ede0d4ff, #e6ccb2ff, #ddb892ff, #b08968ff, #7f5539ff, #9c6644ff);