/* Coolors Exported Palette - https://coolors.co/23332a-95564b-452a21-6e513b-1e393c */

/* CSS HEX */
// --black-olive: #23332Aff;
// --redwood: #95564Bff;
// --bistre: #452A21ff;
// --coffee: #6E513Bff;
// --gunmetal: #1E393Cff;

/* CSS HSL */
// --black-olive: hsla(146, 19%, 17%, 1);
// --redwood: hsla(9, 33%, 44%, 1);
// --bistre: hsla(15, 35%, 20%, 1);
// --coffee: hsla(26, 30%, 33%, 1);
// --gunmetal: hsla(186, 33%, 18%, 1);

/* SCSS HEX */
$black-olive: #23332Aff;
$redwood: #95564Bff;
$bistre: #452A21ff;
$coffee: #6E513Bff;
$gunmetal: #1E393Cff;

/* SCSS HSL */
$black-olive: hsla(146, 19%, 17%, 1);
$redwood: hsla(9, 33%, 44%, 1);
$bistre: hsla(15, 35%, 20%, 1);
$coffee: hsla(26, 30%, 33%, 1);
$gunmetal: hsla(186, 33%, 18%, 1);

/* SCSS RGB */
$black-olive: rgba(35, 51, 42, 1);
$redwood: rgba(149, 86, 75, 1);
$bistre: rgba(69, 42, 33, 1);
$coffee: rgba(110, 81, 59, 1);
$gunmetal: rgba(30, 57, 60, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-right: linear-gradient(90deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-bottom: linear-gradient(180deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-left: linear-gradient(270deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-top-right: linear-gradient(45deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-bottom-right: linear-gradient(135deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-top-left: linear-gradient(225deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-bottom-left: linear-gradient(315deg, #23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);
$gradient-radial: radial-gradient(#23332Aff, #95564Bff, #452A21ff, #6E513Bff, #1E393Cff);